body {
  font-family: "Opens Sans Condensed";
  margin: 0;
  min-height: 100vh;
  color: black;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("./assets/background-image.jpg");
}

* {
  box-sizing: border-box;
}
